body{font-family:'微软雅黑';}
ul{padding:0;margin:0;list-style:none;}
.player{margin:0 auto;padding:20px;width:440px;overflow:hidden;}
.player .iconfont{color:#666;}
.player header{padding:20px 10px 10px;background-color: #efefef;border-radius:10px 10px 0 0;}

.play-main{position:relative;text-align:center;}
.play-main > span{margin:0 5px;font-size:40px;}
.play-main span:hover,.play-model span:hover{color:#f90;}
.play-main .icon-audio{position:absolute;top:50%;right:15px;margin-top:-10px;font-size:20px;}

.portrait{display:inline-block;position:relative;}
.portrait img{padding:2px;width:110px;height:110px;border:2px solid #ababab;border-radius: 50%;box-sizing:border-box;vertical-align: middle;}
.portrait img.playing{animation:rotatePic 10s linear infinite;}
.portrait span{position:absolute;left:50%;top:50%;margin:-25px 0 0 -25px;width:50px;height:50px;line-height:50px;background-color:rgba(255,255,255,.8);vertical-align: middle;font-size:40px;border-radius:50%;}

.controls{}
.controls .title{font-size:20px;}

.play-status{padding:5px 0;}
.play-status *{display:inline-block;vertical-align: middle;}
.play-status progress{width:350px;height:10px;border:none;}
.play-status time{width:60px;overflow:hidden;text-align:center;color:#999;}

.play-model{padding-right:10px;text-align:right;}
.play-model span{margin:0 3px;font-size:20px;}
.play-model span.active{color:#f60;}

.list{max-height:300px;overflow-y:auto;border:1px solid #ddd;}
.list li{border-bottom:1px dotted #ddd;line-height:2;color:#333;}
.list li:hover{background-color: #efefef;}
.list li:last-child{border:none;}
.list li.active{color:#f60;}

@keyframes rotatePic {
	0%{transform:rotate(0deg);}
	100%{transform:rotate(360deg);}
}